DJANGO_SETTINGS_MODULE=genericbackupy.settings.ci_testing
GOOGLE_APPLICATION_CREDENTIALS=GOOGLE_APPLICATION_CREDENTIALS.json
PYTHONPATH="/code:$PYTHONPATH"
SMTP_HOST=mail.generic-backupy.at
SMTP_USER=app@generic-backupy.at
SMTP_PASSWORD=dfdf
EMAIL_DEFAULT_SENDER="Generic Backupy <app@generic-backupy.at>"
VERIFY_EMAIL_URL=https://generic-backupy.at/verify
RESET_PASSWORD_URL=https://generic-backupy.at/forgot-password
