DJANGO_SETTINGS_MODULE=genericbackupy.settings.production
GOOGLE_APPLICATION_CREDENTIALS=GOOGLE_APPLICATION_CREDENTIALS.json
SMTP_HOST=mail.generic-backupy.at
SMTP_USER=app@generic-backupy.at
SMTP_PASSWORD=PW
EMAIL_DEFAULT_SENDER="Generic Backupy <app@generic-backupy.at>"
VERIFY_EMAIL_URL=https://generic-backupy.at/verify
RESET_PASSWORD_URL=https://generic-backupy.at/forgot-password
RQ_DEFAULT_TIMEOUT=360
